<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landon Hotel: Room Reservations</title>
</head>
<body>
    <h1>Welcome to the Guests Page</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>State</th>
            <th>Country</th>
            <th>Link</th>
            <th>Reservations</th>
        </tr>
        <tr th:each="guest : ${guests}">
            <td th:text="${guest.firstName}">First Name</td>
            <td th:text="${guest.lastName}">Last Name</td>
            <td th:text="${guest.emailAddress}">Email</td>
            <td th:text="${guest.phoneNumber}">Phone Number</td>
            <td th:text="${guest.address}">Address</td>
            <td th:text="${guest.state}">State</td>
            <td th:text="${guest.country}">Country</td>
            <td><a th:href="@{/guests/{id}(id=${guest.id})}">Link</a>
            <td><a th:href="@{/guests/{id}/reservations(id=${guest.id})}">Reservations</a>
        </tr>
        </tr>
    </table>
</body>
</html>