<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title title:text="Guest #{guest.firstName} #{guest.lastName}">Guest firstName lastName</title>
</head>
<body>
    <p p:text="This is the page for the user #{guest.firstName} #{guest.lastName} with email #{guest.emailAddress} and phone number #{guest.phoneNumber}"></p>
</body>
</html>